.employee {
  background-color: #c2dde54f;
  border: solid 2px #c2dde54f;
  border-radius: 6px;
  display: table-cell;
  margin: 1em;
  padding: 1em;
}

.employee > section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.employee > section > button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 150%;
  position: absolute;
  top: -1rem;
}

.edit {
  left: -2rem;
}

.delete {
  right: -2rem;
}

.portrait {
  border-radius: 50%;
}
