.create {
  background-color: #62c7e1;
  border-radius: 50%;
  border: none;
  bottom: 1rem;
  font-size: 2rem;
  height: 50px;
  position: absolute;
  right: 1rem;
  width: 50px;
}

header {
  background-color: #62c7e1;
  display: flex;
  justify-content: space-evenly;
}
